@model List<TOCLogin.Models.Project>


<h2>Projects</h2>

<br />

@Html.ActionLink("New", "New", "Project", null, new { @class = "btn btn-sm btn-default" })

<br />
<br />
<div style="align-content:stretch">
    @foreach (var item in Model)
    {
        <div class="panel panel-default" >
            <div class="panel-heading clearfix" style="background-color:darkgrey">
                <h2 class="panel-title">Project: @item.Name</h2>
                <input type="button" title="Compartilhar" onclick="Share(@item.Id)" />
            </div>
            <div class="panel-body">
                <h3>
                    <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
                    Trees
                    @Html.ActionLink("New", "New", "Tree", new { @projectId = @item.Id }, new { @class = "btn btn-xs btn-default" })
                </h3>

                @foreach (var tree in item.Trees)
                {
                    @Html.ActionLink(tree.Name, "Edit", "Tree", new { @id = tree.Id }, null)
                    <br />
                }

                <h3>
                    <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
                    Clouds
                    @Html.ActionLink("New", "New", "Cloud", new { @projectId = @item.Id }, new { @class = "btn btn-xs btn-default" })
                </h3>

                @foreach (var cloud in item.Clouds)
                {
                    @Html.ActionLink(cloud.Name, "Edit", "Cloud", new { @id = cloud.Id }, null)
                    <br />
                }
            </div>
        </div>

    }
</div>



